.header{
    width: 50%;
    margin: 0px auto;
    height: 200px;
    background-color: lightcoral;
}
.text{
    text-align: center !important;
    margin-top: 40px;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    height: 70px;
}
.container{
    min-height: 465px;
}
.foot_span{
    margin-right: 40px;
}