.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    
    .categories{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightblue;
    }
    .search{
        width: 50%;
        height: 200px;
        background-color: lightblue;
    }
    .seeBtn{
        width: 25%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-top: 20px;
        background-color: lightcoral;
        outline: none;
        border: none;
        transition: all 0.3s;
    }

    .seeBtn:hover{
        background-color: rgb(236, 101, 101);
    }